<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="SpringBootEar" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <env-entry>
        <env-entry-name>instanceName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value></env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>useMvsPassportService</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>useMigrationPassportService</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>

</web-app>
